{% extends "frontend/template.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
<div class="row bg-hero-section" {% if bg is not null %} style="background-image:url('{{asset(bg)}}')" {% endif %}>
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section font-f-special">{{category}}</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <form action="" class="row">
            <div class="col-4">
            {% set nameTag = ['Rpg','Plateform','FPS','MMORPG','MOBA','Horreur',"Hack'n Slash","RTS"] %}

                <select class="form-select" aria-label="Default select example">
                    <option selected> -- Tag -- </option>
                    {% for tag in nameTag %}
                        <option value="#">{{tag}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Rechercher par mot clé">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
    </div>
</div>
<div class="row my-5">
    <div class="col-11 mx-auto">
        <div class="row">
            {% if products|length > 0 %}
                {% for product in products %}
                    <div class="col-3 mb-4">   
                        <a href="{{path('view_product',{'idProduct':product.id})}}" class="link-card">
                            <div class="d-flex align-items-center justify-content-center card-tag bg-card-bleu">
                                <p style="font-size: 2rem;">{{product.name}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="col-12 d-flex justify-content-center">
                    <p class="mx-5 pagination-search"><i class="feather-chevron-left"></i></p>
                    <p class="pagination-search"><i class="feather-chevron-right"></i></p>
                </div>
            {% else %}
                <p>La catégorie est vide</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}