{% extends "frontend/template.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section">Final Fantasy</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-6">
                <img src="{{asset('img/final-fantasy.jpg')}}" alt="" class="img-presentation-product">
            </div>
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h2>Final Fantasy 9</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi amet atque nesciunt sapiente, explicabo pariatur ex adipisci quae omnis? Doloribus enim ipsa eum ullam dolores sunt quod quaerat ratione explicabo.
                        Accusantium corrupti voluptatem alias expedita! Ab, alias, unde architecto iste culpa, temporibus vel nostrum hic at consequatur facilis ea esse. Impedit voluptatibus dignissimos autem! Placeat ut error quia pariatur ducimus!
                        Eaque vero error vitae maiores fugit voluptates ullam quo fugiat reiciendis aliquam repellendus voluptatem, quasi eligendi similique aliquid optio accusamus excepturi labore eveniet accusantium blanditiis. Numquam voluptas deleniti libero consectetur!
                        Optio adipisci delectus officiis sunt voluptate distinctio omnis eius. Earum, officiis facilis? Quasi laboriosam consectetur, enim asperiores saepe maxime fuga, distinctio consequatur illo hic aut quisquam incidunt explicabo corporis officia.
                        Eius voluptatum quam quo expedita est assumenda praesentium temporibus iusto non laborum voluptatibus eaque, voluptatem unde molestias hic saepe culpa rem aliquid repellat nam deserunt earum corporis dolor. Reiciendis, consectetur.
                    </p>
                    <p style="font-size: 2rem;">Prix : 20€</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-5">Dans le même genre</h2>
        <div class="row">
            {% for i in 1..4 %}
                <div class="col-3">
                    <a href="#"  class="link-last-article">
                        <img src="{{asset('img/product.jpg')}}" alt="" class="promo-product">
                        <div class="row my-5">
                            <div class="col-6">
                                <p>Final Fantasy {{i}}</p>
                                <p>Prix <span class="price-barrer mx-1">50€</span> 20€</p>
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <button class="btn btn-primary">Voir le produit</button>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <div class="splide" aria-labelledby="carousel-heading">
          <h2>Dernier article rentrer</h2>
          <div class="splide__track">
                <ul class="splide__list h-25r">
                    {% for i in 0..15 %}
                        <li class="splide__slide">
                            <div  class="card-last-article">
                                <a href="#" class="link-last-article">
                                    <img src="{{asset('img/card-last-article.jpg')}}" alt="" class="img-carousel-last-article">
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <p style="margin-bottom: 0;">Produit N°{{i}}</p>
                                            <p style="margin-bottom: 0;">Prix</p>
                                        </div>
                                        <div class="col-6 d-flex align-items-center">
                                            <button class="btn btn-primary">Voir le produit</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
          </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-4">Commentaire sur ce produit</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Super Jeux
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-between">
                            <p>User</p>
                            <p>Le 05/09/23</p>
                        </div>
                        <p>Note 5/5</p>
                        <p>
                            Ce jeux est trop bien je recommande a tout le monde
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Super Jeux
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-between">
                            <p>User</p>
                            <p>Le 05/09/23</p>
                        </div>
                        <p>Note 5/5</p>
                        <p>
                            Ce jeux est trop bien je recommande a tout le monde
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Super Jeux
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-between">
                            <p>User</p>
                            <p>Le 05/09/23</p>
                        </div>
                        <p>Note 5/5</p>
                        <p>
                            Ce jeux est trop bien je recommande a tout le monde
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' , {
        perPage: 4,
        type: 'loop',
        pagination: false,
        arrows: true,
        pauseOnFocus: true,
        autoplay: false,
        speed: 1000,
        });
    splide.mount();
  } );
</script>

{% endblock %}