{% extends "frontend/template.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section font-f-special">Escromania</h1>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h2 class="mb-3">Présentation</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non minus beatae, id veniam similique molestias atque voluptatem aliquid dignissimos earum quos perferendis esse animi, libero sed fugit sapiente facere. Ea!
                        Laudantium culpa ea fugit repellendus officia labore dolores repellat dolor quia, eaque eum, esse accusantium similique at, eos vero. Doloribus eveniet incidunt labore dolorum praesentium quae optio. Sit, qui beatae!
                        Aliquam quod, quia soluta laudantium illum tempora! Doloribus temporibus fugit est, ipsa blanditiis ullam atque non deserunt sapiente! Beatae, reiciendis tenetur? Placeat est exercitationem, illum vero consectetur sequi quos autem.
                    </p>
                </div>
            </div>
            <div class="col-6">
                <img src="{{asset('img/block-1.jpg')}}" alt="" class="img-block-presentation">
            </div>
        </div>
    </div>
</div>

{% if tags|length > 0 %}
    <div class="row">
        <div class="col-10 mx-auto">
            <h2>Nos Tags de jeux</h2>
            <div class="row my-5">
            {% set numberTags = 0 %}
            {% for tag in tags %}
                <div class="col-3 mb-4">   
                    <a href="" class="link-card" >
                        <div class="
                            {% if numberTags % 2 == 0 %}
                                bg-card-red
                            {% else %}
                                bg-card-bleu
                            {% endif %}
                            d-flex align-items-center justify-content-center card-tag">
                            <p style="font-size: 2rem;padding: 0.3rem 2rem 0.6rem 2rem;background-color: #ffffff5e;">{{tag.name}}</p>
                        </div>
                    </a>
                </div>
                {% set numberTags = numberTags + 1 %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% include "frontend/_parts/lastArticle.html.twig" %}

{% if discountsProducts|length > 0 %}
<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-5">Nos Promos Actuel</h2>
        <div class="row">
                {% for product in discountsProducts %}
                    <div class="col-3">
                        <a href="{{path('view_product',{'idProduct':product.id})}}"  class="link-last-article">
                            <img src="{{asset('img/product.jpg')}}" alt="" class="promo-product">
                            <div class="row my-5">
                                <div class="col-6">
                                    <p>{{product.name}}</p>
                                    <p>Prix <span class="price-barrer mx-1">{{product.price  / 100 }}€</span> {{ (product.price  / 100) * (1 - (product.discount / 100)) }} €</p>
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <button class="btn btn-primary">Voir le produit</button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block addJS %}
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' , {
        perPage: 4,
        type: 'loop',
        pagination: false,
        arrows: true,
        pauseOnFocus: true,
        autoplay: false,
        speed: 1000,
        });
    splide.mount();
  } );
</script>
{% endblock %}
