{% extends "frontend/template.html.twig" %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section">{{product.name}}</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-7">
                <img src="{{asset('img/final-fantasy.jpg')}}" alt="" class="img-presentation-product">
            </div>
            <div class="col-5 d-flex align-items-center">
                <div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                    <p style="font-size: 2rem;">Prix : {{product.price / 100 }}€</p>
                    <div class="d-flex justify-content-end">
                        <a href="{{path('panier_add',{'id':product.id})}}" class="btn btn-primary"><i class="feather-plus"></i> Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-5">Dans le même genre</h2>
        <div class="row">
            {% for i in 1..4 %}
                <div class="col-3">
                    <a href="#"  class="link-last-article">
                        <img src="{{asset('img/product.jpg')}}" alt="" class="promo-product">
                        <div class="row my-5">
                            <div class="col-6">
                                <p>Final Fantasy {{i}}</p>
                                <p>Prix <span class="price-barrer mx-1">50€</span> 20€</p>
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <button class="btn btn-primary">Voir le produit</button>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "frontend/_parts/lastArticle.html.twig" %}

<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-4">Commentaire sur ce produit</h2>
        {% if comments|length > 0 %}
            {% if app.user %}
                <a href="#" class="btn btn-primary"><i class="feather-plus"></i> Ajouter un commentaire</a>
            {% endif %}
            <div class="accordion" id="accordionExample">
                {% for comment in comment %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Commentaire de {{comment.user.pseudo}}
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <p>Le {{comment.created_at}}</p>
                                </div>
                                <p>Note {{comment.note}}/5</p>
                                <p>
                                    {{comment.text}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Pas encore de commentaire pour se produit</p>
            {% if app.user %}
                <a href="#" class="btn btn-primary"><i class="feather-plus"></i> Ajouter un commentaire</a>
            {% else %}
                <p>Il faut être connecter pour mettre un commentaire</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block addJS %}
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' , {
        perPage: 4,
        type: 'loop',
        pagination: false,
        arrows: true,
        pauseOnFocus: true,
        autoplay: false,
        speed: 1000,
        });
    splide.mount();
  } );
</script>
{% endblock %}