<nav class="navbar bg-primary navbar-expand-lg text-white">
    <div class="container-fluid">
        <a class="navbar-brand text-white font-f-special" href="{{path('home')}}">Escromania</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="feather-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('home')}}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégorie
                </a>
                <ul class="dropdown-menu bg-primary">
                    {% for category in getCategory() %}
                        <li><a class="dropdown-item" href="{{path('view_category',{'slugCategory':category.slug})}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('contact')}}">Contact/FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Panier</a>
                </li>
            </ul>
            <form class="d-flex" role="search" style="margin-bottom: 0 !important;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="{{path('search_product')}}" class="btn btn-outline-white w-12r" type="submit"><i class="feather-search"></i> Search</a>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.php?page=signin"><i class="feather-log-in"></i> Connection/Inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>