<nav class="navbar bg-primary navbar-expand-lg text-white">
    <div class="container-fluid">
        <a class="navbar-brand text-white font-f-special" href="{{path('home')}}">Escromania</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="feather-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('home')}}"><i class="feather-home"></i> Accueil</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="feather-book-open"></i> Catégorie
                </a>
                <ul class="dropdown-menu bg-primary">
                    {% for category in getCategory() %}
                        <li><a class="dropdown-item" href="{{path('view_category',{'slugCategory':category.slug})}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('contact')}}"><i class="feather-message-square"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('panier_home')}}"><i class="feather-shopping-cart"></i> Panier (<span id='numberOfItemsTotal'></span> - <span id='totalAmountTotal'></span>)</a>
                </li>
            </ul>
            <form class="d-flex mb-0" role="search">
                <a href="{{path('search_global')}}" class="btn btn-outline-white w-12r" type="submit"><i class="feather-search"></i> Search</a>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item d-flex">
                    {% if app.user %}
                        <a class="btn btn-outline-info mx-3" aria-current="page" href="{{path('profil')}}"><i class="feather-user"></i> {{app.user.pseudo}}</a>
                        <a class="btn btn-outline-info mx-3" aria-current="page" href="{{path('app_logout')}}"><i class="feather-log-out"></i> Déconnexion</a>
                    {% else %}
                        <a class="btn btn-outline-success mx-3" aria-current="page" href="{{path('app_login')}}"><i class="feather-log-in"></i> Connection</a>
                        <a class="btn btn-outline-info" aria-current="page" href="{{path('app_register')}}"><i class="feather-edit-2"></i> Inscription</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>