{% set lastArticle = getLastArticle() %}
{% if lastArticle|length > 0 %}
    <div class="row my-5">
        <div class="col-10 mx-auto">
            <div class="splide" id="splideLastArticle" aria-labelledby="carousel-heading">
            <h2>Dernier article rentrer</h2>
            <div class="splide__track">
                    <ul class="splide__list h-25r">
                        {% for product in lastArticle %}
                            <li class="splide__slide">
                                <div  class="card-last-article">
                                    <a href="{{path('view_product',{'idProduct':product.id})}}" class="link-last-article">
                                        {% if product.pictures|length > 0 %}
                                            <img src="{{asset('img/products/' ~ product.pictures|first.file)}}" alt="" class="img-carousel-last-article">
                                        {% else %}
                                            <img src="{{asset('img/card-last-article.jpg')}}" alt="" class="img-carousel-last-article">
                                        {% endif %}
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <p class="mb-0">{{product.name}}</p>
                                                <p class="mb-0">{{product.price  / 100 }} €</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center">
                                                <button class="btn btn-primary">Voir le produit</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            </div>
        </div>
    </div>
{% endif %}
