{% for product in products %}
    {% if product.pictures|length > 0 %}
        <div class="col-3 mb-4">   
            <a href="{{path('view_product',{'idProduct':product.id})}}" class="link-card">
                <div class="d-flex align-items-center justify-content-center card-tag" style="background-image: url('{{asset('img/products/' ~ product.pictures|first.file)}}');">
                    <p class="f-2r text-white">{{product.name}}</p>
                </div>
            </a>
        </div>
    {% else %}
        <div class="col-3 mb-4">   
            <a href="{{path('view_product',{'idProduct':product.id})}}" class="link-card">
                <div class="d-flex align-items-center justify-content-center card-tag bg-card-bleu">
                    <p class="f-2r">{{product.name}}</p>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}
<div class="col-12 d-flex justify-content-center">
    {% if classButtonPrev is null %}
        <button hx-post="{{path('search_view_category_next_product_global',{'start':start, 'action':'prev'})}}" hx-trigger="click" hx-target="#container-product" class="mx-5 pagination-search"><i class="feather-chevron-left"></i></button>
    {% else %}
        <button class="mx-5 pagination-search" disabled><i class="feather-chevron-left"></i></button>
    {% endif %}
    
    {% if classButtonNext is  null %}
        <button hx-post="{{path('search_view_category_next_product_global',{'start':start, 'action':'next'})}}" hx-trigger="click" hx-target="#container-product" class="pagination-search"><i class="feather-chevron-right"></i></button>
    {% else %}
        <button class="pagination-search" disabled><i class="feather-chevron-right"></i></button>
    {% endif %}
    
</div>