<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Escromania - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{encore_entry_link_tags('featherCss')}}
            {{encore_entry_link_tags('splideCss')}}
            {{encore_entry_link_tags('bootstrapCss')}}
            {{encore_entry_link_tags('style')}}
        {% endblock %}

        {% block javascripts %}
            {{encore_entry_script_tags('app')}}
        {% endblock %}
    </head>
    <body>
        {% include "frontend/_parts/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "frontend/_parts/footer.html.twig" %}
        <script src="{{asset('js/splide.js')}}"></script>
        <script src="{{asset('js/htmx.min.js')}}"></script>
        {% block addJS %}{% endblock %}
    </body>
</html>
